*{
	padding:0;
	margin:0;
}
body{
	font-family:"SimHei","Microsoft Yahei","SimSun";
	font-size:20px;
}
#head,#nav{
	height:60px;
}
#head{
	background-color:#91d4da;
	color:#fff;
	text-align:center;
	line-height: 60px;
	font-size:24px;
}
.back{
	position: absolute;
	height:60px;
}
.back img{
	width:14px;
	height:23px;
	float:left;
	margin:18px 10px 0px 20px;
}
#nav,#nav ul,.tag,.banner img{
	width:100%;
}
#nav ul,.tag ul{
	display: -webkit-box;
	list-style: none;
}
#nav li,.tag li{
	-webkit-box-flex:1;
	text-align:center;
	line-height: 2em;
}
#nav li{
	line-height: 60px;
}
.nowindex{
	border-bottom: 3px solid #91d7d7;
}
.tag{
	margin:20px 0px 20px 0px ;
}
hr{
	border:none;
	height:2px;
	background-color:#e0e0e0;
	width:95%;
	margin:auto;
}
.middleli{
	border-left:2px solid #e0e0e0;
	border-right:2px solid #e0e0e0;
}