img{max-width: 100%;}
body{font-family:"Microsoft Yahei"; }
/*导航*/
header{
    background: #333;
    padding: 10px 0;

}
.Top{
    position: relative;
}
.Top .img{
    margin-left: 20px;
    width: 20px;
}

.nav{
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 12px;
    margin-top: -0.6em;
    top: 50%;
    list-style-position: inside;
    display: block;
    margin: 0px;


}

.nav li{

    float: left;
    margin-left: 5px;
}
.nav a{
    text-decoration: none;
    color: #FFF;
}
.nav a:hover{
    color: #9AA8AB;
}
.clear{
    clear: both;
}

.title {
    display: inline-block;
    float: left;
    padding-left: 40px;
}


/*文章*/
article{

    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #aaa;
}
article h1{
    font-size: 1.5em
}
article h2{
    font-size: 1.3em;
    color: #777
}
article p{
    text-indent: 2em;
    font-size: 14px;
}
.author_name{
 color: #333333;
    font-size: 0.8em;

}
.lanuch_time{
    color: #999;
    font-size: 0.8em;
}
/*图片*/
.img_list{
    list-style: none;
}
.img_list li{
    width: 200px;
    border: 1px #ccc solid;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    text-align: center;
    margin-bottom: 20px;
}
/*列表*/
table{
    width: 100%;
    border-collapse: collapse;
    matgin:0;
    padding:0;
}
thead {
    background-color: #333;
    color: white;
    font-weight: bold;
    text-align: left;
}

tfoot {
    background-color: #ccc;
    font-weight: bold;
}

th,td {
    border: 1px solid #ccc;
    padding: 5px;
}
/*侧边*/
.side >h2{
    font-size: 1em;
    padding: 10px;
    border-left:5px solid #333333;

}
.hint{
    font-size: 0.7em;
    color: #777777;
}
.formblock{
    display: inline-block;
    vertical-align: text-top;
}
textarea {
    vertical-align: text-top;
    width: 70%;
    height: 10em;
}
.button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    background-color: #cccccc;
    border-radius: 10px;
}
label.title{
    width: 20%;
    display: inline-block;
    text-align: right;
}
/*底部*/
footer{
    background-color: #333333;
    height: 2em;
    font-weight: bold;
    padding:20px;
    text-align: center;
    vertical-align: middle;
}