*{
	font-family: "Microsfot Yahei",微软雅黑;
	padding: 0px;
	margin: 0px;
}

#wrapper{
	width: 100%;
	min-width: 1281px;
}

.header{
	height: 56px;
	padding: 0 67px 0 57px;
	font-size: 14px;
}
.logo{
	width: 114px;
	height: 100%;
	font-size: 21px;
	line-height: 56px;
	float: left;
}
.logo img{
	width: 31px;
	height: 31px;
}
.nav{
	float: right;
}
.nav ul{
	overflow: hidden;
}
.nav ul li{
	float: left;
	list-style: none;
	width: 65px;
	height: 56px;
	margin-right: 26px;
}
.nav li a{
	display: block;
	text-decoration: none;	
	line-height: 54px;
	text-align: center;
	color: #000;
}
.nav li .on{
	color: #E74F4D;
	border-bottom: 5px solid #E74F4D; 
}
.login{
	float: right;
	width: 50px;
	height: 56px;
	line-height: 56px;
	color: #E85957;
}



.banner,.banner_mask{
	width: 100%;
	min-width: 1281px;
	height: 691px;
	z-index: -2;
}
.banner{
	background: url(../image/a7.1.jpg) no-repeat;
	background-size: 100%;
	position: relative;
}
.banner_mask{
	background: url(../image/a7.1.png) no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	top:0;
}

.banner_content{
	padding-left: 124px;
	padding-top: 223px;
	color: #fff;
}
.banner_content p{
	font-size: 60px;

}
.banner_content .font1{
	font-size: 21px;
	margin-left: 8px;
	margin-bottom: 27px;
	margin-bottom: 57px;
}
.banner_content a{
	display: block;
	width: 331px;
	height: 64px;
	text-decoration: none;
	text-align: center;
	font-size: 30px;
	line-height: 64px;
	background: #E85957;
	color: #fff; 
	margin-left: 8px;
}

.section1{
	margin: 46px auto;
	overflow: hidden;
}
.section1  li{
	list-style: none;
	float: left;
	width: 330px;
	height: 140px;
	text-align: center;
}
.section1 li a{
	height: 140px;
	text-decoration: none;
	text-align: center;
}
.section1 li p{
	border-right: 2px solid #999;
	padding-bottom: 17px;
	margin-top: 46px;
	color: #999;
}
.section1 .no_border{
	border: none;
}


.section2{
	background: #EDEDED;
	overflow: hidden;
	z-index: -100;
}

.find{
	background: url(../image/a7.3.jpg) no-repeat;
	height: 341px;
	background-size: 100%;
	text-align: center;
}
.question{
	height: 201px;
	margin-top: 86px;
	margin-bottom: 76px;
	text-align: center;
}
.question p{
	font-size: 53px;
	margin-top: 45px;
	color: #999;
}
.find_title{
	color: #fff;
	font-size: 12px;
}
.find_title .font2{
	font-size: 21px;
	padding-top: 48px;
}
.find_title hr{
	width: 40px;
	border:none;
	height: 2px;
	background: #fff;
	margin: 8px auto;
	margin-bottom: 12px;
}
.find_city{
	margin-top:50px;
	margin-left:150px;
	list-style:none;
	overflow: hidden;
	position: absolute;
}
.btn-select{
    display: inline-block;
    width: 236px;
    height: 36px;
    line-height: 36px;
    background:#fff url(../image/arrow.png) no-repeat 208px center;
    text-indent: 10px;
    border: 1px solid #cc6633;
    margin-left:30px;
    text-align: left;
    position: relative;
}
.btn-select select{
	position: absolute;
    top: 0;
    left: -2px;
    width: 238px;
    height: 36px;
    opacity: 0; 
    filter: alpha(opacity: 0;); 
    font: 14px/20px "Microsoft YaHei"; 
    color: #999;
}
.btn-select select option{
    text-indent: 30px;
    background: #ccc;
    border: none;
    border-left: 1px solid #cc6633;
    border-right: 1px solid #cc6633;
    color: #333;
}
.btn-select select::nth-last-child(1){
   border-bottom: 1px solid #cc6633;
}
.btn-select select option:hover { 
    background: #cc6633 url(../image/selected.png) no-repeat 8px center; 
    color: #fff; 
} 
.find_go{
	width: 236px;
	height: 36px;
	display: inline-block;
	background:#E74F4D;
	text-align:center;
	line-height: 36px;
	color:#FFF;
	margin-left: 30px;
	letter-spacing: 40px;
}
.city_active table{
	text-align: center;
	margin: 91px auto;
}
.city_active td{
	padding: 19px;
	color: #333;
}
.city_active td img{
	border-top: 2px solid #E1E1E1;
	border-left: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
	background: #fff;
	padding: 13px 8px;
}
.city_active figure h3{
	font-weight: normal;
	letter-spacing: 20px; 
}
.city_active figure h4{
	font-weight: normal;
	margin-top: 12px;
}
.city_active figure p{
	color: #909191;
	font-size: 12px;
	padding: 10px;
}

.section3 table{
	width: 100%;
	text-align: center;
	border: none;
	border-collapse: collapse;
}
.section3 .tr1 p{
	color: #999;
	font-size: 12px;
	width: 292px;
	margin:0 auto;
	line-height:28px;
	text-align: left;
}
.tr1 h2{
	color: #333; 
	font-style: normal;
	margin-bottom: 26px;
}
.tr1 h2 span{
	color: #cc6666;
}
.tr1 a{
	display: block;
	color: #cc6666;
	width: 107px;
	text-align: center;
	border: 1px solid #cc6666;
	line-height: 28px;
	text-decoration: none;
	margin:23px auto;
	margin-top: 44px;
}
.tr1 ul{
	padding: 10px;
	overflow: hidden;
	text-align: center;
}
.tr1 li{
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}
.tr1 td[colspan="2"] img{
	width: 100%;
}

.tr2 p{
	font-size: 21px;
	text-align: center;
	line-height: 30px;
}
.tr2 hr{
	width: 30px;
	height: 2px;
	background: #fff;
	margin: 30px auto;
	border:0px;
}
.tr2 a{
	display: block;
	width: 167px;
	height: 41px;
	line-height: 41px;
	margin: 10px auto;
	text-decoration: none;
}
.tr2 img{
	width: 100%;
}
.about_us1{
	background: #E74F4D;
	color: #fff;
}
.about_us1 a{
	color: #FFF;
	border: 1px solid #fff;
}
.about_us2{
	color: #E74F4D;
}
.about_us2 a{
	color: #E74F4D;
	border: 1px solid #E74F4D;
}
.about_us2 hr{
	background: #ccc;
}

/*SherHoooo编写部分*/
.join_title{
	text-align:center;
	margin-top:100px;
}
.join_title h2{
	font-size:22px;
	font-weight:500;
}
.join_title hr{
	border:none;
	height:3px;
	background-color:#E74F4D;
	width:40px;
	margin:10px auto 10px auto;
}
.join_us {
	float:left;
	width:100%;
}
.join_us p{
	color: #999;
	font-size:13px;
}
.agreement ul{
	float:left;
	margin:100px 100px 0px 140px;
	width:301px;
}
.agreement li{
	list-style:none;
}
.agreement h3{
	font-size:16px;
	line-height:4em;
	color:rgb(100,100,100);
}
.agreement p{
	float:right;
	line-height:2em;
}
.login_up{
	margin-top:120px;
	float:left;
}
.greyform{
	width:300px;
	height:45px;
	background-color:rgb(220,220,220);
	color:rgb(100,100,100);
	margin:8px;
	padding:0px 0px 0px 15px;
	font-size:14px;
	line-height:45px;
}
.login_up input{
	border:none;
	background-color:rgb(220,220,220);
	outline:none;
}
#yourdream{
	padding:8px 23px 8px 8px;
}
#yourdream textarea{
	width:100%;
	height:120px;
	border:none;
	background-color:rgb(220,220,220);
	color:rgb(100,100,100);
	outline:none;
	resize:none;
	padding:5px 0px 0px 15px;
}
#upload{
	padding:0px 8px 0px 8px;
}
#upload input{
    width:100%;
	height:40px;
	border:none;
	background-color:rgb(220,220,220);
	color:rgb(100,100,100);
	outline:none;
	text-align:center;
	font-size:18px;
}
/*最后页脚*/
.footer{
	width:100%;
	text-align:center;
	float:left;
	height:300px;
	top:200px;
	background-color:#041327;
	color:rgb(220,220,220);
	margin-top:120px;
	padding-top:50px;
	line-height:3em;
}
.footer p{
	font-size:14px;
	line-height:1.5em;
}
.seach{
	margin:20px auto 20px auto;
	line-height:1em;
}
.seach input[type="text"]{
	outline:none;
	border:none;
	width:550px;
	height:45px;
	color:rgb(100,100,100);
	font-size:18px;
	text-indent:1em;
}
.seach input[type="submit"]{
	width:80px;
	height:45px;
	outline:none;
	background-color:#999;
	border:none;
	margin:3px 0px 0px -5px;
	font-size:16px;
	font-weight:600;
	color:rgb(240,240,240);
	letter-spacing:10px;
}
.contect_tool img{
	margin-left:20px;
}
.copyright{
	background-color:#020a15;
	height:80px;
	margin-top:50px;
}
.copyright p{
	float:left;
	margin:0 50px 0 50px;
	line-height:80px;
	display:inline;
}
#backtotop{
	float:right;
	color:#fff;
}
#backtotop a{
	color:#fff;
	text-decoration:none;
}